{% extends 'base.html' %}

{% block title %}
Смена данных
{% endblock %}

{% block content %}
<div class="container">
    <h1>Сменить данные</h1>
        <form action="/change_client_data" method="POST" enctype="multipart/form-data">
            <input required placeholder="ФИО" class="form-control" type="text" id="name" name="name"><br>
            <input required placeholder="Birth day" class="form-control" type="date" id="birth_day" name="birth_day"><br>
            <input required placeholder="Passport series" class="form-control" type="number" id="passport_series" name="passport_series" maxlength="4"><br>
            <input required placeholder="Passport number" class="form-control" type="number" id="passport_number" name="passport_number" maxlength="6"><br>
            <input required placeholder="Contact number" class="form-control" type="tel" id="contact_number" name="contact_number"><br>
            <input required placeholder="Adress" class="form-control" type="text" id="adress" name="adress"><br>
            <button class="btn btn-success" type="submit">Отправить заявку</button>
        </form>
        <p class="p-3 text-danger">{{ error }}</p>
    </div>
{% endblock %}