{% extends 'base.html' %}

{% block title %}
Смена пароля
{% endblock %}

{% block content %}
<div class="container">
    <h1>Смена пароля</h1>
        <form action="/change_password" method="POST" enctype="multipart/form-data">
            <input required placeholder="Введите новый пароль" class="form-control" type="password" id="password_1" name="password_1"><br>
            <input required placeholder="Повторите пароль" class="form-control" type="password" id="password_2" name="password_2"><br>
            <a href="" class="link-secondary link-underline-light">Забыли пароль?</a>
            <a href="/login" class="link-secondary link-underline-light">Еще не зарегистрированы?</a><br><br>
            <button class="btn btn-success" type="submit">Сменить пароль</button>
        </form>
        <p class="p-3 text-danger">{{ error }}</p>
    </div>
{% endblock %}