{% extends 'base.html' %}

{% block title %}
Оформить полис
{% endblock %}

{% block content %}
<div class="container">
    <h1>Стать клиентом</h1>
        <form action="/make_new_policy" method="POST" enctype="multipart/form-data">
            <select required class="form-control" id="policy_type" name="policy_type">
                <option value="" disabled selected>Выберите тип полиса</option>
                <option value="ОСАГО">ОСАГО</option>
                <option value="КАСКО">КАСКО</option>
            </select><br>
            <input required placeholder="Дата начала действия полиса" class="form-control" type="date" id="date_start" name="date_start"><br>
            <input required placeholder="Дата окончания действия полиса" class="form-control" type="date" id="date_stop" name="date_stop"><br>
            <select required class="form-control" id="car_brand" name="car_brand">
                <option value="" disabled selected>Марку авто</option>
                <option value="BMW">BMW</option>
                <option value="MERCEDES">MERCEDES</option>
                <option value="AUDI">AUDI</option>
                <option value="TOYOTA">TOYOTA</option>
                <option value="HONDA">HONDA</option>
                <option value="FORD">FORD</option>
                <option value="CHEVROLET">CHEVROLET</option>
                <option value="TESLA">TESLA</option>
                <option value="VOLKSWAGEN">VOLKSWAGEN</option>
                <option value="PORSCHE">PORSCHE</option>
                <option value="LEXUS">LEXUS</option>
                <option value="NISSAN">NISSAN</option>
                <option value="HYUNDAI">HYUNDAI</option>
                <option value="KIA">KIA</option>
                <option value="VOLVO">VOLVO</option>
                <option value="JAGUAR">JAGUAR</option>
                <option value="LAND ROVER">LAND ROVER</option>
                <option value="MAZDA">MAZDA</option>
                <option value="SUBARU">SUBARU</option>
                <option value="FERRARI">FERRARI</option>
            </select><br>
            <input required placeholder="Год выпуска авто" class="form-control" type="number" id="year_of_manufacture" name="year_of_manufacture"><br>
            <input required placeholder="Номер автомобиля" class="form-control" type="text" id="car_number" name="car_number"><br>
            <input required placeholder="Сумма выплаты" class="form-control" type="number" id="sum_insurance" name="sum_insurance"><br>
            <button class="btn btn-success" type="submit">Отправить заявку</button>
        </form>
        <p class="p-3 text-danger">{{ error }}</p>
    </div>
{% endblock %}