{% extends 'base.html' %}

{% block title %}
Полисы для поддтверждения
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Полисы для подтверждения</h2>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Имя</th>
                <th>Дата рождения</th>
                <th>Серия и номер паспорта</th>
                <th>Номер телефона</th>
                <th>Адрес</th>
                <th>Статус</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for client in clients %}
            <tr>
                <td>{{ client.client_name }}</td>
                <td>{{ client.birth_day }}</td>
                <td>{{ client.passport_series }} {{ client.passport_number }}</td>
                <td>{{ client.contact_number }}</td>
                <td>{{ client.address }}</td>
                <td>{{ client.status }}</td>
                <td>
                    <div class="d-flex gap-2">
                        <form action="/approve_client" method="POST" enctype="multipart/form-data">
                            <input type="hidden" name="client_id" value="{{ client.client_id }}">
                            <button class="btn btn-success btn-sm">Одобрить</button>
                        </form>
                        <form action="/reject_client" method="POST" enctype="multipart/form-data">
                            <input type="hidden" name="client_id" value="{{ client.client_id }}">
                            <button class="btn btn-danger btn-sm">Отклонить</button>
                        </form>
                    </div>
                </td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}