{% extends 'base.html' %}

{% block title %}
Новости
{% endblock %}

{% block content %}
<div class="container">
    <h1>Регистрация</h1>
        <form action="/register" method="POST" enctype="multipart/form-data">
            <input required placeholder="Login" class="form-control" type="text" id="user_login" name="user_login"><br>
            <input required placeholder="Password" class="form-control" type="password" id="password" name="password"><br>
            <a href="" class="link-secondary link-underline-light">Забыли пароль?</a>
            <a href="/login" class="link-secondary link-underline-light">Уже зарегистрированы?</a><br><br>
            <button class="btn btn-success" type="submit">Зарегестрироаться</button>
        </form>
        <p class="p-3 text-danger">{{ error }}</p>
    </div>
{% endblock %}