.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.btn-group-row {
    margin-bottom: 15px;
}

@media (orientation: portrait) {
    .carousel-item img {
        width: 270px;
        height: 230px;
    }
}